

{% if contactPage %}
<section class="st-s-section st-s-page st-s-contact">
    {% if contactPage.background =='image' %}
        <div class="st-slider">
            {% for item in contactPage.images %}
            <div class="st-slide">
                <img src="{{ item.path }}" alt="thestela 927">
            </div>
            {% endfor %}
        </div>
        {% else %}
        <video autoplay muted loop id="myVideo">
            <source src="{{contactPage.video.path}}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    {% endif %}
    <div class="st-b-container">
        <div class="st-b-body ">
            <h2>{{contactPage.title}}</h2>
            <p>{{contactPage.description}}</p>
            <div class="st-b-body-inner scrollBar">
                {% partial "contact-form" %}
            </div>
        </div>
        {% if generalOption %}
             <div class="st-b-foot mobile-hide tablet-hide">{{ generalOption.footer_text }}</div>
        {% endif %}
        <a href="#" class="st-stoggle-arrow mobile-hide tablet-hide">
            <img src="{{'assets/images/arrow.png' | theme}}" alt="arrow">
        </a>
     </div>
</section>
{% endif %}

