
{% if pagesInfo %}
<section class="st-s-section st-s-page" style="background: url({{pagesInfo.video.path}})">
    {% if pagesInfo.background =='image' %}
    <div class="st-slider">
        {% for item in pagesInfo.images %}
        <div class="st-slide">
            <img src="{{ item.path }}" alt="thestela 927">
        </div>
        {% endfor %}
    </div>
    {% else %}
    <video autoplay muted loop id="myVideo">
        <source src="{{pagesInfo.video.path}}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    {% endif %}
    {%  if pagesInfo.description %}
    <div class="st-b-container">
        <div class="st-b-body">
            <h2>{{ pagesInfo.title }}</h2>
            <div class="st-b-body-inner scrollBar">
                {{ pagesInfo.description | raw }}
            </div>
        </div>

        {% if generaloption %}
            <div class="st-b-foot mobile-hide tablet-hide">{{ generaloption.footer_text }}</div>
        {% endif %}
        <a href="#" class="st-stoggle-arrow mobile-hide tablet-hide">
            <img src="{{'assets/images/arrow.png' | theme}}" alt="arrow">
        </a>
    </div>
    {% endif %}
</section>
{% endif %}