<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>
<form class="flexiContactForm" role="form" data-request="{{ contactForm  }}::onMailSent"
    data-request-update="'{{ contactForm  }}::confirm': '.confirm-container'">

    <input type="text" name="name" required placeholder="{{ 'Họ tên '|_}}*">
    <input type="email" name="email" required placeholder="{{ 'Email '|_}}*">
    <input type="text" name="phone" required placeholder="{{ 'Số điện thoại '|_}}*">
    <input type="text" name="note" required placeholder="{{ 'Nội dung '|_}}* ">
    <!-- <input type="submit" value="SEND"> -->
    <button class="kt-btn" type="submit"> {{ 'Gửi' |_ }}</button>
</form>