description = "footer"
==

<footer class="desktop-hide">
    <div class="st-b-container">
        {% if generaloption %}
            <p>{{ generaloption.footer_text }}</p>
        {% endif %}
    </div>
</footer>