description = "header"

[menu]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "st-b-menu"
secondaryClasses = "dropdown-menu"

numberOfLevels = 3
==
{% component "menu" %}

<header>
    <div class="st-b-container">
        <div class="hamburger desktop-hide" id="hamburger-1">
            <aside>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </aside>
        </div>
        <div class="st-b-lang-wapper">
            <p class="mobile-hide tablet-hide">LUXURY SERVICE RESIDENCES</p>
            {% partial 'lang' %}
        </div>
        <nav>
            <div class="st-logo">
                <a href="{{ 'home'| page}}">
                    {% if generaloption %}
                    <img src="{{generaloption.logo.path}}" alt="logo">
                    {% endif %}

                </a>
            </div>
            {% component "menu" %}
        </nav>

    </div>
</header>
<nav class="desktop-hide st-nav-mobile">
    {% component "menu" %}
</nav>