description = "language"
==

<ul class="st-lang">
        <li {% if activeLocale == 'en' %} class="is-active" {% endif %}> 
            <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">
                <span class="desktop-hide">EN</span>
                <span class="mobile-hide tablet-hide">English</span>
            </a>
        </li>
        <li {% if activeLocale == 'vi' %} class="is-active" {% endif %}>
             <a href="#" data-request="onSwitchLocale"data-request-data="locale: 'vi'">
                <span class="desktop-hide">VI</span>
                <span class="mobile-hide tablet-hide">Tiếng Việt</span>
             </a>
        </li>
</ul>