description = "default"

[localePicker]
forceUrl = 0
[pages]
==
<?php
use Alipo\Cms\Models\GeneralOption;
        function onStart(){
            $this['generaloption'] = GeneralOption::find(1);
        }
?>
==

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Stella 927 - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Olabmedia">
        <meta name="generator" content="Olabmedia">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"  media="screen" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"  media="screen" />

        <link href="{{ [
            '@framework.extras',
            'assets/css/base.css',
        ]|theme }}" rel="stylesheet" media="screen" />
        {% styles %}
    </head>
    <body class="{{ this.page.bodyClass }}">
        <div class="st-b-loading">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <!-- Header -->
        {% partial 'header' %}

        <!-- Content -->
        {% page %}

        {% partial 'footer' %}
        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="{{ [
            'assets/js/main.js',
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>