
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/

html{
  overflow: hidden;

}
@font-face {
  font-family: FuturaBold;
  src: url(../fonts/SFUFUTURABOLD.TTF);
}
body {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: $textgrey;     
  font-weight: 300;
  overflow: hidden;
  background: black;
}


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:last-child {
  margin-bottom: 0;
}

input, textarea {
  outline: none; 
}

button {
  outline: none; 
}

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  tr {
    padding: 0;
    margin: 0;
  }
  th {
    font-style: normal;
    padding: 0;
    margin: 0;
  }
  td {
    padding: 0;
    margin: 0;
  }
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
}

input[type='text'],
textarea {
  outline: none;
  @include transition(0.3s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include rounded(0);
  border: none;
  height: 32px;
  font-size: 15px;
  line-height: 32px;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  background: transparent;
  &.has-value {
  }
}
textarea {
  height: 72px;
  padding-top: 8px;
}

input[type='submit'] {
  @include transition(0.3s);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  font-size: 13px;
  @include mq('desktop'){
    font-size: 14px;
  }
  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.4em;
  &.is-small {
    font-size: 13px;
    line-height: 14px;
  }
  &.is-medium {
    font-size: 14px;
    line-height: 18px;
  }
  &.is-large {
    font-size: 20px;
    line-height: 26px;
  }
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.kt-row-fluid {
  *zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both; 
  }
  [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    &:first-child {
      margin-left: 0 !important;  
    }
  }
  .no-gutter {
    margin-left: 0 !important;
  }
  .pull-right{
    float: right;
  }
  @for $i from 1 through 12 {
      .span-#{$i} { 
        width: 100%; 
      }
  }

  @include mq('tablet') {
    $default-gutter-px: 16;
    $default-screen-px: 768;
    $default-column-px: 49;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
        .span-#{$i} { 
          width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
        }
        [class*="span-"].offset-#{$i} { 
          margin-left: percentage($default-column-gutter-perc * $i) !important;
        }
        [class*="span-"].pull-right.offset-#{$i} { 
          margin-right: percentage($default-column-gutter-perc * $i) !important;
          margin-left: 0 !important;
        }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }

  @include mq('desktop') {
    $default-gutter-px: 24;
    $default-screen-px: 1236;
    $default-column-px: 81;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
        .span-#{$i} { 
          width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
        }
        .offset-#{$i} { 
          margin-left: percentage($default-column-gutter-perc * $i) !important;
        }
        [class*="span-"].pull-right.offset-#{$i} { 
          margin-right: percentage($default-column-gutter-perc * $i) !important;
          margin-left: 0 !important;
        }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }
}

.mobile-hide {
  display: none !important;
}
@include mq('tablet') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: none !important;
  }
}
@include mq('desktop') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: inherit !important;
  }
  .desktop-hide {
    display: none !important;
  }
}

.kt-s-section{
  position: relative;
  z-index: 1;
  padding-top: 64px;
  padding-bottom: 64px;
  @include mq('desktop') {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .kt-b-container {
    position: relative;
    @extend %clearfix;
    padding-left: 20px;
    padding-right: 20px;
    @include mq('desktop') {
      padding-left: 50px;
      padding-right: 50px;
      margin: 0 auto;
    }
  }
}
.kt-b-container {
  position: relative;
  @extend %clearfix;
  padding-left: 20px;
  padding-right: 20px;
  @include mq('desktop') {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  line-height: 1.2em;
  font-weight: 700;
}

h1 {
  font-size: 50px;
  line-height: 56px;
}
h2 {
  font-size: 40px;
  line-height: 46px;
}
h3 {
  font-size: 28px;
  line-height: 32px;
}
h4, h5, h6 {
  font-size: 20px;
  line-height: 24px;
}

blockquote {
  font-size: 20px;
  line-height: 24px;
}

@include mq('tablet') {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  button {
    width: auto;
  }
}

@include mq('desktop') {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
  }
  h1 {
    font-size: 48px;
    line-height: 50px;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  blockquote {
    font-size: 24px;
    line-height: 28px;
  }
}
.gmnoprint{
  display: none;
}
button[type = submit]{
  cursor: pointer;
}
.pull-right{
  float: right;
}
// hamburger
.hamburger{
  padding-top: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 13;
  aside{
    width: 20px;
    height: 20px;
    z-index: 11;
    position: relative;
    .line{
      width: 20px;
      height: 1px;
      background-color: white;
      display: block;
      margin-bottom: 4px;
      @include transition(0.3s, ease-in-out);
      &:last-child{
        margin-bottom: 0;
      }
    }
    &:hover{
      cursor: pointer;
    }
    &.is-active{
      .line{
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(1){
          @include transform(translateY(10px) rotate(45deg))
        }
        &:nth-child(3){
          @include transform(translateY(0) rotate(-45deg))
  
        }
      }
    }
  }
  
}

.scrollBar {
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar
  {
    width: 2px;
    background-color: #999;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb
  {
    background-color: white;
    width: 1px;
    border-radius: 10px;
  }
  
}

/*
   .-----------------------------------------------------.
   |                       SPINKIT                       |
   '-----------------------------------------------------'
*/

.st-b-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: black;
}
.sk-folding-cube {
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
  transform: translate(-50%, -50%) rotateZ(45deg);
  .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #d8b37e;
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
  .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
    &:before {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
  }
  .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
    &:before {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
  }
  .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
    &:before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
    }
  }
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}


