@import "./variables";
@import "./_mixinscustom";
@import "./common";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

header{
    position: fixed;
    z-index: 3;
    width: 100%;
    @include transition(0.5s, linear);
    .st-b-container{
        font-size: 0;
        background-color: #212121;
        padding: 25px 15px;
        nav {
            .st-logo{
                z-index: 11;
                width: 100%;
                text-align: center;
                line-height: 0;
                a{
                    display: inline-block;
                    img{
                        height: 20px;
                        margin: 0 auto;
                    }
                }
                h4{
                    font-weight: 300;
                    font-size: 15px;
                }
            }
            .st-b-menu{
                display: none;
            }
        }
    }
}
footer{
    background-color: black;
    width: 100%;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    .st-b-container{
        p{
            margin-bottom: 0;
            font-size: 10px;
        }
    }
}
.st-b-menu{
    position: fixed;
    top: calc(-100% - 70px);
    left: 0;
    width: 100%;
    @include transition(0.4s, ease-in-out);   
    z-index: 1;
    border-left: 1px solid rgba(0, 0, 0, 0.03);
    padding: 10px 0;
    background-color: rgba(0,0,0,.85);
    li{
        text-align: center;
        color: #d9b480;
        a{
            color: #d9b480;
            text-transform: uppercase;
            font-size: 12px;
            text-align: center;
            position: relative;
            padding: 10px 0;
            display: block;
        }
        &.active {
            background-color: rgba(0, 0, 0, 0.4);
            li {
                &.active{
                    background-color: rgba(0, 0, 0, 0.4);              
                }
            }
        }
        &.dropdown{
            .dropdown-menu{
                display: none;
                li {
                    a {
                        color: #999999;
                    }
                    ul {
                        display: none;
                    }
                }
            }
        }

    }
}
.st-b-menu-desktop{
    display: none;
}
.st-show-menu{
    .hamburger{
        padding: 0;
    }
    nav{
        .st-b-menu{
            z-index: 1;
            @include opacity(1);
            top: 70px;
            @include transition(0.4s, ease-in-out);   
        } 
    }
}

.st-lang{
    border: 1px solid white;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0,-50%);
    line-height: 0;
    li{
        display: inline-block;
        position: relative;
        &:first-child::after{
            @include pseudo();
            right: -1px;
            width: 1px;
            height: 10px;
            top: 50%;
            background-color: white;
            @include transform(translate(0, -50%));
        }
        a{
            color: white;
            padding: 5px 4px;
            display: block;
            text-align: center;
            font-size: 8px;
            line-height: 1em;
            min-width: 20px;
        }
        &.is-active{
            a{
                font-weight: 700;
            }
        }
    }
}
.st-s-section {
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    overflow: hidden;
}
.st-s-page{
    .st-b-container{
        padding: 60px 10px 60px 20px;
        background: rgba(0,0,0,.8);
        color: white;
        position: fixed;
        bottom: 44px;
        width: 100%;
        .st-b-body{
            position: relative;
            width: 100%;
            h2{
                text-transform: uppercase;
                font-size: 25px;
                line-height: 1em;
                margin-bottom: 25px;
                color: #d8b37e;
                font-family: FuturaBold, sans-serif;
            }
            .st-b-body-inner {
                max-height: 25vh;
                overflow-y: auto;
                padding-right: 20px;
                p{
                    font-size: 11px;
                    text-align: justify;
                    strong {
                        color: #d8b37e;
                    }
                }

            }
            &::before{
                @include pseudo();
                top: -30px;
                left: 0;
                width: 40px;
                height: 1px;
                background-color: white;
            }
            &::after{
                @include pseudo();
                bottom: -30px;
                left: 0;
                width: 40px;
                height: 1px;
                background-color: white;
            }
        }
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.st-s-contact{
    .st-b-container{
        .st-b-body {
            .st-b-body-inner{
                max-height: 25vh;
                padding-right: 0;
                form {
                    font-size: 0;
                    padding-right: 10px;
                    input{
                        background-color: transparent;
                        width: 100%;
                        padding: 0;
                        font-size: 12px;
                        margin-bottom: 20px;
                        text-indent: 10px;
                        border: 1px solid #949494;
                        height: 40px;
                        line-height: 40px;
                        color: white;
                        &:nth-child(2) {
                            width: 46%;
                            display: inline-block;
                            margin-right: 8%;
                        }
                        &:nth-child(3) {
                            width: 46%;
                            display: inline-block;
                        }
                    }
                    button{
                        text-transform: uppercase;
                        color: white;
                        background-color: #3f3f3f;
                        border: 0;
                        height: 40px;
                        line-height: 40px;
                        padding: 0 45px;
                        @include transition(0.3s, ease-in-out);
                        &:hover {
                            background: black;
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                }
            }

        }
    }
}

.st-slider{
    .st-slide{
        img{
            width: 100%;
            height: 100vh;
            object-fit: cover;

        }
    }
}

@include mq('tablet'){


}

@include mq('desktop'){
    header{
        background-color: transparent;
        padding: 0;
        .st-b-container{
            padding: 0;
            background-color: transparent;
            nav {
                line-height: 0;
                background: black;
                padding: 3vh 50px 3vh 0;                
                .st-logo{
                    display: inline-block;
                    vertical-align: middle;
                    width: 22.5%;
                    a{
                        img{
                            height: 30px;
                        }
                    }
                }
                .st-b-menu{
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: right;
                    top: inherit;
                    width: 77.5%;
                    background: transparent;
                    padding: 0;
                    li{
                        padding: 0;
                        display: inline-block;
                        margin-right: 30px;
                        line-height: 30px;
                        height: 30px;
                        &:last-child{
                            margin-right: 0;
                        }
                        a{
                            font-weight: 400;
                            padding: 0;
                            &::after{
                                content: "";
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 50%;
                                @include transform( translateX(-50%));
                                background-color: white;
                                height: 2px;
                                width: 0;
                                @include transition(0.3s, ease-in-out);
                            }
                            &:hover {
                                &::after{
                                    width: 100%;
                                    @include transition(0.3s, ease-in-out);
                                }
                            }
                        }
                        &.active {
                            a{
                                text-transform: uppercase;
                                &::after{
                                    bottom: inherit;
                                    top: 0;
                                    width: 100%;
                                }
                            }
                        }
                        &.dropdown {
                            position: relative;
                            ul {
                                display: inline-block;
                                position: absolute;
                                width: 190px;
                                left: 50%;
                                bottom: 0;
                                @include transform(translate(-50%, 100%));
                                padding-top: 23px;
                                max-height: 0;
                                opacity: 0;
                                overflow: hidden;
                                @include transition(500ms, ease-in-out);

                                li {
                                    margin-right: 0;
                                    display: block;
                                    height: 55px;
                                    line-height: 55px;
                                    background-color: rgba(0, 0, 0, 0.8);
                                    position: relative;
                                    a{
                                        display: block;
                                        height: 55px;
                                        line-height: 55px;
                                        @include transition(0.3s, ease-in-out);
                                        &::after{
                                            display: none;
                                        }
                                        &:hover{
                                            // background-color: rgba(0, 0, 0, 0.9);
                                            @include transition(0.3s, ease-in-out);
                                            color:white;
                                            & ~ ul {
                                                z-index: 3;
                                                opacity: 1 !important;
                                                @include transition(0.3s, ease-in-out);

                                            }
                                        }
                                    }
                                    ul {
                                        opacity: 0 !important;
                                        padding: 0;
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                        transform: translateX(96px);
                                        width: 250px;
                                        z-index: 2;
                                        &:hover{
                                            @include transition(0.3s, ease-in-out);
                                            opacity: 1 !important;
                                            z-index: 3;
                                        }
                                    }
                                    &.active {
                                        background-color: rgba(0, 0, 0, 0.9);
                                        a{
                                            &::after{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover {
                                ul{
                                    max-height: 400px;
                                    opacity: 1;
                                    overflow: inherit;
                                    @include transition(400ms, ease-in-out);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .st-b-lang-wapper{
        text-align: right;
        padding: 2vh 50px;
        p{
            display: inline-block !important;
            vertical-align: middle;
            margin: 0 20px 0 0;
            font-size: 14px;
            color: white;
            font-weight: 700;
        }
        .st-lang{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            transform: translate(0, 0);
            right: inherit;
            li{
                &:first-child::after{
                    height: 20px;
                }
                a{
                    padding: 10px;
                    font-size: 14px;
                }
    
    
            }
        }
    }

    .st-s-page{
        .st-b-container{
            width: 22.5%;
            top: 0;
            bottom: 0;
            padding: 2vw 1vw 2vw 2vw;
            display: flex;
            align-items: center;
            @include transition(0.5s, ease-in-out);    
            .st-b-body{
                position: relative;
                h2{
                    text-transform: uppercase;
                    font-size: 27px;
                    line-height: 1.2em;
                    margin-bottom: 25px;
                    color: #d8b37e;
                }
                .st-b-body-inner {
                    max-height: 35vh;
                    padding-right: 1vw;
                    p{
                        font-size: 14px;
                        text-align: justify;
                    }
    
                }
                &::before{
                    @include pseudo();
                    top: -30px;
                    left: 0;
                    width: 105px;
                    height: 1px;
                    background-color: white;
                }
                &::after{
                    @include pseudo();
                    bottom: -30px;
                    left: 0;
                    width: 105px;
                    height: 1px;
                    background-color: white;
                }
            }
            .st-b-foot{
                position: absolute;
                bottom: 2vw;
                left: 0;
                width: 100%;
                padding: 0 0 0 2vw;
                font-size: 12px;
            }
            .st-stoggle-arrow{
                display: block;
                width: 35px;
                opacity: 0.8;
                height: 60px;
                position: absolute;
                right: 0;
                top: 50%;
                @include transform(translate(100%, -50%));
            }
        }
    }
    .close-content{
        .st-s-page{
            .st-b-container{
                @include transform(translateX(-100%));
                @include transition(0.5s, ease-in-out);
                .st-stoggle-arrow{
                    @include transform(translate(100%, -50%) rotateZ(181deg));
                }
            }
        }
    }

    .st-s-contact{
        .st-b-container{
            .st-b-body {
                p{
                    margin-bottom: 30px;
                }
                .st-b-body-inner{
                    max-height: 35vh;
                   
                    form {
                        padding-right: 0;
                        input{
                            &:nth-child(2) {
                                display: block;
                                width: 100%;
                                margin-right: 0;
                            }
                            &:nth-child(3) {
                                width: 100%;
                                display: block;
                            }
                        }
                        button{
                            text-transform: uppercase;
                            color: white;
                            background-color: #3f3f3f;
                            border: 0;
                            height: 40px;
                            line-height: 40px;
                            padding: 0 45px;
                        }
                    }
                }
    
            }
        }
    }
    
}

@include mq('desktop-1400'){
    header{
        .st-b-container{
            nav {
            
                .st-b-menu{
                    li{
                       
                        &.dropdown {
                            position: relative;
                            ul {
                                padding-top: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

}
@include mq('desktop-1600') {
    .st-b-lang-wapper{
        text-align: right;
        padding: 25px 50px;
        p{
            font-size: 14px;
        }
    }
    header{
        .st-b-container{
            nav {
                padding: 25px 50px 25px 0;                
                .st-b-menu{
                    li{
                        margin-right: 40px;
                        a{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .st-s-page{
        .st-b-container{
            padding: 50px 25px 50px 50px;
            .st-b-body{
                h2{
                    margin-bottom: 30px;
                }
                .st-b-body-inner {
                    max-height: 50vh; 
                    padding-right: 25px;   
                }
                &::before{
                    top: -40px;
                }
                &::after{
                    bottom: -40px;
                    left: 0;
                }
            }
            .st-b-foot{
                font-size: 14px;
                bottom: 50px
            }
        }
    }

    .st-s-contact{
        .st-b-container{
            .st-b-body {
                p{
                    margin-bottom: 50px;
                }
                .st-b-body-inner{
                    max-height: 50vh;
                    form {
                        input{
                            height: 50px;
                            line-height: 50px;
                            font-size: 14px;
                            margin-bottom: 25px;
                            &::placeholder{
                                color: white;
                            }
                        }
                        button{
                            height: 50px;
                            line-height: 50px;
                            padding: 0 55px;
                        }
                    }
                }
    
            }
        }
    }
}

@media(max-width: 768px) {
    .st-b-menu{
        overflow-y: auto;
        max-height: calc(100vh - 70px);
    }
}