/* ----------------------- External Font ----------------------- */
/* ---------- Media Queries ---------- */
/* ---------- Placeholder Style ---------- */
/* ---------- Center an element (absolute) ---------- */
/* ---------- Center an element (relative) ---------- */
/* ---------- Animation Mixin Setup ---------- */
/* ---------- Gradient ---------- */
/* ----------------------- Rounded ----------------------- */
/* ----------------------- Opacity ----------------------- */
/* ----------------------- Transform ----------------------- */
/* -------------------- Transform Delay -------------------- */
/* -------------------- Animation Delay -------------------- */
/* ----------------------- Rotation ----------------------- */
/* ----------------------- Scale ----------------------- */
/* -------------------- Scale Horizontal -------------------- */
/* ------------------ Transform Origin ------------------ */
/* ----------------------- Transition ----------------------- */
/* ------------------ Transition Specific ------------------ */
/* ----------------------- Pseudo ----------------------- */
/* ----------------------- Filter ----------------------- */
/* 
  grayscale      ex: filter: grayscale(100%);
  sepia          ex: filter: sepia(100%);
  saturate       ex: filter: saturate(0%);
  hue-rotate     ex: filter: hue-rotate(45deg);
  invert         ex: filter: invert(100%);
  brightness     ex: filter: brightness(15%);
  contrast       ex: filter: contrast(200%);
  blur           ex: filter: blur(2px);
*/
/* --------------------- Box Shadow --------------------- */
/* --------------------- Text Shadow --------------------- */
/* ----------------------- Extra Mixin ----------------------- */
/* Can remove in another project */
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese");
html {
  overflow: hidden; }

@font-face {
  font-family: FuturaBold;
  src: url(../fonts/SFUFUTURABOLD.TTF); }
body {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #3b3b3b;
  font-weight: 300;
  overflow: hidden;
  background: black; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:last-child {
  margin-bottom: 0; }

input, textarea {
  outline: none; }

button {
  outline: none; }

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%; }
  table tr {
    padding: 0;
    margin: 0; }
  table th {
    font-style: normal;
    padding: 0;
    margin: 0; }
  table td {
    padding: 0;
    margin: 0; }

address {
  font-style: normal; }

blockquote {
  margin: 0;
  padding: 0; }

input[type='text'],
textarea {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  height: 32px;
  font-size: 15px;
  line-height: 32px;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  background: transparent; }

textarea {
  height: 72px;
  padding-top: 8px; }

input[type='submit'] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none;
  font-size: 13px; }
  @media only screen and (min-width: 1080px) {
    a {
      font-size: 14px; } }
  a:hover {
    text-decoration: none; }

p {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.4em; }
  p.is-small {
    font-size: 13px;
    line-height: 14px; }
  p.is-medium {
    font-size: 14px;
    line-height: 18px; }
  p.is-large {
    font-size: 20px;
    line-height: 26px; }

.clearfix, .kt-s-section .kt-b-container, .kt-b-container {
  *zoom: 1; }
  .clearfix:before, .kt-s-section .kt-b-container:before, .kt-b-container:before, .clearfix:after, .kt-s-section .kt-b-container:after, .kt-b-container:after {
    content: " ";
    display: table; }
  .clearfix:after, .kt-s-section .kt-b-container:after, .kt-b-container:after {
    clear: both; }

.kt-row-fluid {
  *zoom: 1; }
  .kt-row-fluid:before {
    content: "";
    display: table; }
  .kt-row-fluid:after {
    content: "";
    display: table;
    clear: both; }
  .kt-row-fluid [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
    .kt-row-fluid [class*="span-"]:first-child {
      margin-left: 0 !important; }
  .kt-row-fluid .no-gutter {
    margin-left: 0 !important; }
  .kt-row-fluid .pull-right {
    float: right; }
  .kt-row-fluid .span-1 {
    width: 100%; }
  .kt-row-fluid .span-2 {
    width: 100%; }
  .kt-row-fluid .span-3 {
    width: 100%; }
  .kt-row-fluid .span-4 {
    width: 100%; }
  .kt-row-fluid .span-5 {
    width: 100%; }
  .kt-row-fluid .span-6 {
    width: 100%; }
  .kt-row-fluid .span-7 {
    width: 100%; }
  .kt-row-fluid .span-8 {
    width: 100%; }
  .kt-row-fluid .span-9 {
    width: 100%; }
  .kt-row-fluid .span-10 {
    width: 100%; }
  .kt-row-fluid .span-11 {
    width: 100%; }
  .kt-row-fluid .span-12 {
    width: 100%; }
  @media only screen and (min-width: 768px) {
    .kt-row-fluid .span-1 {
      width: 6.3802083333%; }
    .kt-row-fluid [class*="span-"].offset-1 {
      margin-left: 8.4635416667% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.4635416667% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-2 {
      width: 14.84375%; }
    .kt-row-fluid [class*="span-"].offset-2 {
      margin-left: 16.9270833333% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 16.9270833333% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-3 {
      width: 23.3072916667%; }
    .kt-row-fluid [class*="span-"].offset-3 {
      margin-left: 25.390625% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.390625% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-4 {
      width: 31.7708333333%; }
    .kt-row-fluid [class*="span-"].offset-4 {
      margin-left: 33.8541666667% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 33.8541666667% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-5 {
      width: 40.234375%; }
    .kt-row-fluid [class*="span-"].offset-5 {
      margin-left: 42.3177083333% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 42.3177083333% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-6 {
      width: 48.6979166667%; }
    .kt-row-fluid [class*="span-"].offset-6 {
      margin-left: 50.78125% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 50.78125% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-7 {
      width: 57.1614583333%; }
    .kt-row-fluid [class*="span-"].offset-7 {
      margin-left: 59.2447916667% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 59.2447916667% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-8 {
      width: 65.625%; }
    .kt-row-fluid [class*="span-"].offset-8 {
      margin-left: 67.7083333333% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 67.7083333333% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-9 {
      width: 74.0885416667%; }
    .kt-row-fluid [class*="span-"].offset-9 {
      margin-left: 76.171875% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 76.171875% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-10 {
      width: 82.5520833333%; }
    .kt-row-fluid [class*="span-"].offset-10 {
      margin-left: 84.6354166667% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 84.6354166667% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-11 {
      width: 91.015625%; }
    .kt-row-fluid [class*="span-"].offset-11 {
      margin-left: 93.0989583333% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 93.0989583333% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-12 {
      width: 99.4791666667%; }
    .kt-row-fluid [class*="span-"].offset-12 {
      margin-left: 101.5625% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 101.5625% !important;
      margin-left: 0 !important; }
    .kt-row-fluid [class*="span-"],
    .kt-row-fluid [class*="span-"].has-gutter {
      margin-left: 2.0833333333%; } }
  @media only screen and (min-width: 1080px) {
    .kt-row-fluid .span-1 {
      width: 6.5533980583%; }
    .kt-row-fluid .offset-1 {
      margin-left: 8.4951456311% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.4951456311% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-2 {
      width: 15.0485436893%; }
    .kt-row-fluid .offset-2 {
      margin-left: 16.9902912621% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 16.9902912621% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-3 {
      width: 23.5436893204%; }
    .kt-row-fluid .offset-3 {
      margin-left: 25.4854368932% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.4854368932% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-4 {
      width: 32.0388349515%; }
    .kt-row-fluid .offset-4 {
      margin-left: 33.9805825243% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 33.9805825243% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-5 {
      width: 40.5339805825%; }
    .kt-row-fluid .offset-5 {
      margin-left: 42.4757281553% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 42.4757281553% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-6 {
      width: 49.0291262136%; }
    .kt-row-fluid .offset-6 {
      margin-left: 50.9708737864% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 50.9708737864% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-7 {
      width: 57.5242718447%; }
    .kt-row-fluid .offset-7 {
      margin-left: 59.4660194175% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 59.4660194175% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-8 {
      width: 66.0194174757%; }
    .kt-row-fluid .offset-8 {
      margin-left: 67.9611650485% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 67.9611650485% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-9 {
      width: 74.5145631068%; }
    .kt-row-fluid .offset-9 {
      margin-left: 76.4563106796% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 76.4563106796% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-10 {
      width: 83.0097087379%; }
    .kt-row-fluid .offset-10 {
      margin-left: 84.9514563107% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 84.9514563107% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-11 {
      width: 91.5048543689%; }
    .kt-row-fluid .offset-11 {
      margin-left: 93.4466019417% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 93.4466019417% !important;
      margin-left: 0 !important; }
    .kt-row-fluid .span-12 {
      width: 100%; }
    .kt-row-fluid .offset-12 {
      margin-left: 101.9417475728% !important; }
    .kt-row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 101.9417475728% !important;
      margin-left: 0 !important; }
    .kt-row-fluid [class*="span-"],
    .kt-row-fluid [class*="span-"].has-gutter {
      margin-left: 1.9417475728%; } }

.mobile-hide {
  display: none !important; }

@media only screen and (min-width: 768px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: none !important; } }
@media only screen and (min-width: 1080px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: inherit !important; }

  .desktop-hide {
    display: none !important; } }
.kt-s-section {
  position: relative;
  z-index: 1;
  padding-top: 64px;
  padding-bottom: 64px; }
  @media only screen and (min-width: 1080px) {
    .kt-s-section {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .kt-s-section .kt-b-container {
    position: relative;
    padding-left: 20px;
    padding-right: 20px; }
    @media only screen and (min-width: 1080px) {
      .kt-s-section .kt-b-container {
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 auto; } }

.kt-b-container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px; }
  @media only screen and (min-width: 1080px) {
    .kt-b-container {
      padding-left: 50px;
      padding-right: 50px;
      margin: 0 auto; } }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  line-height: 1.2em;
  font-weight: 700; }

h1 {
  font-size: 50px;
  line-height: 56px; }

h2 {
  font-size: 40px;
  line-height: 46px; }

h3 {
  font-size: 28px;
  line-height: 32px; }

h4, h5, h6 {
  font-size: 20px;
  line-height: 24px; }

blockquote {
  font-size: 20px;
  line-height: 24px; }

@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 20px; }

  h1 {
    font-size: 40px;
    line-height: 44px; }

  h2 {
    font-size: 32px;
    line-height: 36px; }

  h3 {
    font-size: 24px;
    line-height: 28px; }

  button {
    width: auto; } }
@media only screen and (min-width: 1080px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px; }

  h1 {
    font-size: 48px;
    line-height: 50px; }

  h2 {
    font-size: 36px;
    line-height: 40px; }

  h3 {
    font-size: 28px;
    line-height: 32px; }

  blockquote {
    font-size: 24px;
    line-height: 28px; } }
.gmnoprint {
  display: none; }

button[type=submit] {
  cursor: pointer; }

.pull-right {
  float: right; }

.hamburger {
  padding-top: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 13; }
  .hamburger aside {
    width: 20px;
    height: 20px;
    z-index: 11;
    position: relative; }
    .hamburger aside .line {
      width: 20px;
      height: 1px;
      background-color: white;
      display: block;
      margin-bottom: 4px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .hamburger aside .line:last-child {
        margin-bottom: 0; }
    .hamburger aside:hover {
      cursor: pointer; }
    .hamburger aside.is-active .line:nth-child(2) {
      opacity: 0; }
    .hamburger aside.is-active .line:nth-child(1) {
      -webkit-transform: translateY(10px) rotate(45deg);
      -moz-transform: translateY(10px) rotate(45deg);
      -o-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
      transform: translateY(10px) rotate(45deg); }
    .hamburger aside.is-active .line:nth-child(3) {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }

.scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #F5F5F5;
  border-radius: 10px; }
.scrollBar::-webkit-scrollbar {
  width: 2px;
  background-color: #999;
  border-radius: 10px; }
.scrollBar::-webkit-scrollbar-thumb {
  background-color: white;
  width: 1px;
  border-radius: 10px; }

/*
   .-----------------------------------------------------.
   |                       SPINKIT                       |
   '-----------------------------------------------------'
*/
.st-b-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: black; }

.sk-folding-cube {
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
  transform: translate(-50%, -50%) rotateZ(45deg); }
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    .sk-folding-cube .sk-cube:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #d8b37e;
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg); }
    .sk-folding-cube .sk-cube2:before {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg); }
    .sk-folding-cube .sk-cube3:before {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg); }
    .sk-folding-cube .sk-cube4:before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
header {
  position: fixed;
  z-index: 3;
  width: 100%;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  header .st-b-container {
    font-size: 0;
    background-color: #212121;
    padding: 25px 15px; }
    header .st-b-container nav .st-logo {
      z-index: 11;
      width: 100%;
      text-align: center;
      line-height: 0; }
      header .st-b-container nav .st-logo a {
        display: inline-block; }
        header .st-b-container nav .st-logo a img {
          height: 20px;
          margin: 0 auto; }
      header .st-b-container nav .st-logo h4 {
        font-weight: 300;
        font-size: 15px; }
    header .st-b-container nav .st-b-menu {
      display: none; }

footer {
  background-color: black;
  width: 100%;
  color: white;
  padding: 15px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0; }
  footer .st-b-container p {
    margin-bottom: 0;
    font-size: 10px; }

.st-b-menu {
  position: fixed;
  top: calc(-100% - 70px);
  left: 0;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.03);
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.85); }
  .st-b-menu li {
    text-align: center;
    color: #d9b480; }
    .st-b-menu li a {
      color: #d9b480;
      text-transform: uppercase;
      font-size: 12px;
      text-align: center;
      position: relative;
      padding: 10px 0;
      display: block; }
    .st-b-menu li.active {
      background-color: rgba(0, 0, 0, 0.4); }
      .st-b-menu li.active li.active {
        background-color: rgba(0, 0, 0, 0.4); }
    .st-b-menu li.dropdown .dropdown-menu {
      display: none; }
      .st-b-menu li.dropdown .dropdown-menu li a {
        color: #999999; }
      .st-b-menu li.dropdown .dropdown-menu li ul {
        display: none; }

.st-b-menu-desktop {
  display: none; }

.st-show-menu .hamburger {
  padding: 0; }
.st-show-menu nav .st-b-menu {
  z-index: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  top: 70px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.st-lang {
  border: 1px solid white;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  line-height: 0; }
  .st-lang li {
    display: inline-block;
    position: relative; }
    .st-lang li:first-child::after {
      content: "";
      display: block;
      position: absolute;
      right: -1px;
      width: 1px;
      height: 10px;
      top: 50%;
      background-color: white;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .st-lang li a {
      color: white;
      padding: 5px 4px;
      display: block;
      text-align: center;
      font-size: 8px;
      line-height: 1em;
      min-width: 20px; }
    .st-lang li.is-active a {
      font-weight: 700; }

.st-s-section {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  overflow: hidden; }

.st-s-page .st-b-container {
  padding: 60px 10px 60px 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  bottom: 44px;
  width: 100%; }
  .st-s-page .st-b-container .st-b-body {
    position: relative;
    width: 100%; }
    .st-s-page .st-b-container .st-b-body h2 {
      text-transform: uppercase;
      font-size: 25px;
      line-height: 1em;
      margin-bottom: 25px;
      color: #d8b37e;
      font-family: FuturaBold, sans-serif; }
    .st-s-page .st-b-container .st-b-body .st-b-body-inner {
      max-height: 25vh;
      overflow-y: auto;
      padding-right: 20px; }
      .st-s-page .st-b-container .st-b-body .st-b-body-inner p {
        font-size: 11px;
        text-align: justify; }
        .st-s-page .st-b-container .st-b-body .st-b-body-inner p strong {
          color: #d8b37e; }
    .st-s-page .st-b-container .st-b-body::before {
      content: "";
      display: block;
      position: absolute;
      top: -30px;
      left: 0;
      width: 40px;
      height: 1px;
      background-color: white; }
    .st-s-page .st-b-container .st-b-body::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 40px;
      height: 1px;
      background-color: white; }
.st-s-page video {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.st-s-contact .st-b-container .st-b-body .st-b-body-inner {
  max-height: 25vh;
  padding-right: 0; }
  .st-s-contact .st-b-container .st-b-body .st-b-body-inner form {
    font-size: 0;
    padding-right: 10px; }
    .st-s-contact .st-b-container .st-b-body .st-b-body-inner form input {
      background-color: transparent;
      width: 100%;
      padding: 0;
      font-size: 12px;
      margin-bottom: 20px;
      text-indent: 10px;
      border: 1px solid #949494;
      height: 40px;
      line-height: 40px;
      color: white; }
      .st-s-contact .st-b-container .st-b-body .st-b-body-inner form input:nth-child(2) {
        width: 46%;
        display: inline-block;
        margin-right: 8%; }
      .st-s-contact .st-b-container .st-b-body .st-b-body-inner form input:nth-child(3) {
        width: 46%;
        display: inline-block; }
    .st-s-contact .st-b-container .st-b-body .st-b-body-inner form button {
      text-transform: uppercase;
      color: white;
      background-color: #3f3f3f;
      border: 0;
      height: 40px;
      line-height: 40px;
      padding: 0 45px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .st-s-contact .st-b-container .st-b-body .st-b-body-inner form button:hover {
        background: black;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }

.st-slider .st-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover; }

@media only screen and (min-width: 1080px) {
  header {
    background-color: transparent;
    padding: 0; }
    header .st-b-container {
      padding: 0;
      background-color: transparent; }
      header .st-b-container nav {
        line-height: 0;
        background: black;
        padding: 3vh 50px 3vh 0; }
        header .st-b-container nav .st-logo {
          display: inline-block;
          vertical-align: middle;
          width: 22.5%; }
          header .st-b-container nav .st-logo a img {
            height: 30px; }
        header .st-b-container nav .st-b-menu {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          text-align: right;
          top: inherit;
          width: 77.5%;
          background: transparent;
          padding: 0; }
          header .st-b-container nav .st-b-menu li {
            padding: 0;
            display: inline-block;
            margin-right: 30px;
            line-height: 30px;
            height: 30px; }
            header .st-b-container nav .st-b-menu li:last-child {
              margin-right: 0; }
            header .st-b-container nav .st-b-menu li a {
              font-weight: 400;
              padding: 0; }
              header .st-b-container nav .st-b-menu li a::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                background-color: white;
                height: 2px;
                width: 0;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out; }
              header .st-b-container nav .st-b-menu li a:hover::after {
                width: 100%;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out; }
            header .st-b-container nav .st-b-menu li.active a {
              text-transform: uppercase; }
              header .st-b-container nav .st-b-menu li.active a::after {
                bottom: inherit;
                top: 0;
                width: 100%; }
            header .st-b-container nav .st-b-menu li.dropdown {
              position: relative; }
              header .st-b-container nav .st-b-menu li.dropdown ul {
                display: inline-block;
                position: absolute;
                width: 190px;
                left: 50%;
                bottom: 0;
                -webkit-transform: translate(-50%, 100%);
                -moz-transform: translate(-50%, 100%);
                -o-transform: translate(-50%, 100%);
                -ms-transform: translate(-50%, 100%);
                transform: translate(-50%, 100%);
                padding-top: 23px;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                -webkit-transition: all 500ms ease-in-out;
                -moz-transition: all 500ms ease-in-out;
                -o-transition: all 500ms ease-in-out;
                transition: all 500ms ease-in-out; }
                header .st-b-container nav .st-b-menu li.dropdown ul li {
                  margin-right: 0;
                  display: block;
                  height: 55px;
                  line-height: 55px;
                  background-color: rgba(0, 0, 0, 0.8);
                  position: relative; }
                  header .st-b-container nav .st-b-menu li.dropdown ul li a {
                    display: block;
                    height: 55px;
                    line-height: 55px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out; }
                    header .st-b-container nav .st-b-menu li.dropdown ul li a::after {
                      display: none; }
                    header .st-b-container nav .st-b-menu li.dropdown ul li a:hover {
                      -webkit-transition: all 0.3s ease-in-out;
                      -moz-transition: all 0.3s ease-in-out;
                      -o-transition: all 0.3s ease-in-out;
                      transition: all 0.3s ease-in-out;
                      color: white; }
                      header .st-b-container nav .st-b-menu li.dropdown ul li a:hover ~ ul {
                        z-index: 3;
                        opacity: 1 !important;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out; }
                  header .st-b-container nav .st-b-menu li.dropdown ul li ul {
                    opacity: 0 !important;
                    padding: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translateX(96px);
                    width: 250px;
                    z-index: 2; }
                    header .st-b-container nav .st-b-menu li.dropdown ul li ul:hover {
                      -webkit-transition: all 0.3s ease-in-out;
                      -moz-transition: all 0.3s ease-in-out;
                      -o-transition: all 0.3s ease-in-out;
                      transition: all 0.3s ease-in-out;
                      opacity: 1 !important;
                      z-index: 3; }
                  header .st-b-container nav .st-b-menu li.dropdown ul li.active {
                    background-color: rgba(0, 0, 0, 0.9); }
                    header .st-b-container nav .st-b-menu li.dropdown ul li.active a::after {
                      display: none; }
              header .st-b-container nav .st-b-menu li.dropdown:hover ul {
                max-height: 400px;
                opacity: 1;
                overflow: inherit;
                -webkit-transition: all 400ms ease-in-out;
                -moz-transition: all 400ms ease-in-out;
                -o-transition: all 400ms ease-in-out;
                transition: all 400ms ease-in-out; }

  .st-b-lang-wapper {
    text-align: right;
    padding: 2vh 50px; }
    .st-b-lang-wapper p {
      display: inline-block !important;
      vertical-align: middle;
      margin: 0 20px 0 0;
      font-size: 14px;
      color: white;
      font-weight: 700; }
    .st-b-lang-wapper .st-lang {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      transform: translate(0, 0);
      right: inherit; }
      .st-b-lang-wapper .st-lang li:first-child::after {
        height: 20px; }
      .st-b-lang-wapper .st-lang li a {
        padding: 10px;
        font-size: 14px; }

  .st-s-page .st-b-container {
    width: 22.5%;
    top: 0;
    bottom: 0;
    padding: 2vw 1vw 2vw 2vw;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .st-s-page .st-b-container .st-b-body {
      position: relative; }
      .st-s-page .st-b-container .st-b-body h2 {
        text-transform: uppercase;
        font-size: 27px;
        line-height: 1.2em;
        margin-bottom: 25px;
        color: #d8b37e; }
      .st-s-page .st-b-container .st-b-body .st-b-body-inner {
        max-height: 35vh;
        padding-right: 1vw; }
        .st-s-page .st-b-container .st-b-body .st-b-body-inner p {
          font-size: 14px;
          text-align: justify; }
      .st-s-page .st-b-container .st-b-body::before {
        content: "";
        display: block;
        position: absolute;
        top: -30px;
        left: 0;
        width: 105px;
        height: 1px;
        background-color: white; }
      .st-s-page .st-b-container .st-b-body::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 105px;
        height: 1px;
        background-color: white; }
    .st-s-page .st-b-container .st-b-foot {
      position: absolute;
      bottom: 2vw;
      left: 0;
      width: 100%;
      padding: 0 0 0 2vw;
      font-size: 12px; }
    .st-s-page .st-b-container .st-stoggle-arrow {
      display: block;
      width: 35px;
      opacity: 0.8;
      height: 60px;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(100%, -50%);
      -moz-transform: translate(100%, -50%);
      -o-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
      transform: translate(100%, -50%); }

  .close-content .st-s-page .st-b-container {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .close-content .st-s-page .st-b-container .st-stoggle-arrow {
      -webkit-transform: translate(100%, -50%) rotateZ(181deg);
      -moz-transform: translate(100%, -50%) rotateZ(181deg);
      -o-transform: translate(100%, -50%) rotateZ(181deg);
      -ms-transform: translate(100%, -50%) rotateZ(181deg);
      transform: translate(100%, -50%) rotateZ(181deg); }

  .st-s-contact .st-b-container .st-b-body p {
    margin-bottom: 30px; }
  .st-s-contact .st-b-container .st-b-body .st-b-body-inner {
    max-height: 35vh; }
    .st-s-contact .st-b-container .st-b-body .st-b-body-inner form {
      padding-right: 0; }
      .st-s-contact .st-b-container .st-b-body .st-b-body-inner form input:nth-child(2) {
        display: block;
        width: 100%;
        margin-right: 0; }
      .st-s-contact .st-b-container .st-b-body .st-b-body-inner form input:nth-child(3) {
        width: 100%;
        display: block; }
      .st-s-contact .st-b-container .st-b-body .st-b-body-inner form button {
        text-transform: uppercase;
        color: white;
        background-color: #3f3f3f;
        border: 0;
        height: 40px;
        line-height: 40px;
        padding: 0 45px; } }
@media only screen and (min-width: 1400px) {
  header .st-b-container nav .st-b-menu li.dropdown {
    position: relative; }
    header .st-b-container nav .st-b-menu li.dropdown ul {
      padding-top: 30px; } }
@media only screen and (min-width: 1600px) {
  .st-b-lang-wapper {
    text-align: right;
    padding: 25px 50px; }
    .st-b-lang-wapper p {
      font-size: 14px; }

  header .st-b-container nav {
    padding: 25px 50px 25px 0; }
    header .st-b-container nav .st-b-menu li {
      margin-right: 40px; }
      header .st-b-container nav .st-b-menu li a {
        font-size: 16px; }

  .st-s-page .st-b-container {
    padding: 50px 25px 50px 50px; }
    .st-s-page .st-b-container .st-b-body h2 {
      margin-bottom: 30px; }
    .st-s-page .st-b-container .st-b-body .st-b-body-inner {
      max-height: 50vh;
      padding-right: 25px; }
    .st-s-page .st-b-container .st-b-body::before {
      top: -40px; }
    .st-s-page .st-b-container .st-b-body::after {
      bottom: -40px;
      left: 0; }
    .st-s-page .st-b-container .st-b-foot {
      font-size: 14px;
      bottom: 50px; }

  .st-s-contact .st-b-container .st-b-body p {
    margin-bottom: 50px; }
  .st-s-contact .st-b-container .st-b-body .st-b-body-inner {
    max-height: 50vh; }
    .st-s-contact .st-b-container .st-b-body .st-b-body-inner form input {
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      margin-bottom: 25px; }
      .st-s-contact .st-b-container .st-b-body .st-b-body-inner form input::placeholder {
        color: white; }
    .st-s-contact .st-b-container .st-b-body .st-b-body-inner form button {
      height: 50px;
      line-height: 50px;
      padding: 0 55px; } }
@media (max-width: 768px) {
  .st-b-menu {
    overflow-y: auto;
    max-height: calc(100vh - 70px); } }
